/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    -fx-background-color: #50EB64;
    
}

.panelPrincipal{
    -fx-background-color: #d2f0de;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,1),10.0,0.0,0.0,10.0);
   
}
.panelIzquierdo{
    -fx-background-color: #C1C1C1;
}
.infoSuperior{
    -fx-background-color: white;
     -fx-border-width:1px;
    -fx-border-color:solid;
    -fx-border-color:#50EB64; 
     -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,1),10.0,0.0,0.0,10.0);
    
    
}
.colorBotonBlanco{
    -fx-background-color: white;
}
.colorBotonVerde{
    -fx-background-color:#50EB64;
}


.infoCategorias{
     -fx-background-color: rgba(0,0,0,0.3);
  -fx-background-radius: 10 10 70 70;
  -fx-background-insets: -1.4, 0;
  -fx-border-radius: 10 10 70 70;
  -fx-border-width: 4;
  -fx-border-color: #50EB64;
  -fx-padding: 0;
  -fx-font-size: 0;
}
.transparente{
    -fx-background-color:transparent;
}
.color{
    -fx-background-color: #d2f0de;
    -fx-background-radius: 40;
    -fx-border-width: 2;
     -fx-border-color:#50EB64;
    -fx-border-radius: 35;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    
    
    -fx-border-radius: 40;
}
