/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-jun-2021, 17:13:50
    Author     : skatt
*/

.button{
    -fx-background-color: #50EB64;
    -fx-background-radius: 50;
     -fx-border-width: 2;
     -fx-border-color:#d2f0de;
    -fx-border-radius: 50;
}

.button:pressed{
    -fx-background-color: #d2f0de;
    -fx-background-radius: 50;
}